// *** index **** //

.top-articles{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.top-article{
  width: 33.33%;
  padding: 10px;
  &__box{
    padding: 10px;
    height: 200px;
    border: 1px solid lightgray;
  }
  &__box:hover{
    color: whitesmoke;
    background-color: steelblue;
  }
}

