// *** index **** //

.top-wrapper{
  padding: 0 40px;
  &__left{
    width: 30%;
    float: left;
    &__box{
      padding: 20px;
    }
  }
  &__right{
    width: 70%;
    float: right;
    &__box{
      padding: 20px;
    }
  }
}

.navi-bar{
  box-shadow: $default_shadow;
  &__box{
    padding: 10px;
    &__head{
      border-bottom: 1px solid lightgray;
      background-color: $midnight;
      padding: 10px;
      color: whitesmoke;
    }
    &__content{
      text-align: center;
      border-bottom: 1px solid lightgray;
    }
  }
}

.navi-bar-link{
  padding: 10px;
  display: block;
  color: $pencil;
  cursor: pointer;
}

.navi-bar-link:hover{
  background-color: steelblue;
  color: whitesmoke;
}

.serve-bar{
  margin-top: 20px;
}

.main-contents{
  box-shadow: $default_shadow;
  color: $pencil;
  &__box{
    padding: 10px;
    &__head{
      background-color: steelblue;
      color: whitesmoke;
      padding: 10px 10px 10px 20px;
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.top-articles{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.top-article{
  width: 33.33%;
  padding: 10px;
  &__box{
    padding: 10px;
    height: 200px;
    border: 1px solid lightgray;
  }
  &__box:hover{
    color: whitesmoke;
    background-color: steelblue;
  }
}

