{% extends 'layout.html' %}

{% block content %}


<h2 class='main-contents__box__head'>
    {{ article.title }}
</h2>
<div class='article-info'>
    <div class='article-info__box'>
        <span class='article-info__box__datetime'>
            投稿：{{ article.created_at }}
            {% if article.created_at != article.updated_at %}
                (編集済)
            {% endif %}
        </span>
        <span class='article-info__box__author'>
            {% if article.author_id == request.user.id %}
                <a href='{% url "accounts:detail" request.user.pk %}'>マイページへ</a>
            {% else %}
                <a href='{% url "accounts:detail" article.author_id %}'>
                    {% if article.author.profile.nickname %}
                        by {{ article.author.profile.nickname }}
                    {% else %}
                        by {{ article.author.username }}
                    {% endif %}
                </a>
            {% endif %}
        </span>
    </div>
</div>

{% if article.image %}
    <div class='article-image'>
        <div class='article-image__box'>
            <img src='{{ article.image.url }}' alt='{{ article.title }}' style='max-width:500px; max-height: 500px;'>
        </div>
    </div>
{% endif %}

<div class='article-content'>
    <div class='article-content__box'>
        <div class='article-content__box__text'>
            {{ article.content_markdown | safe }}
        </div>
    </div>
</div>

<div class='article-footer'>
    {% if request.user.id == object.author_id %}
        <a href='{% url "accounts:detail" request.user.pk %}' class='article-footer__link'>マイページへ</a>
        <a href='{% url "djappy:update" article.pk %}' class='article-footer__link'>記事の編集</a>
        <a href='{% url "djappy:delete" article.pk %}' class='article-footer__link'>記事の削除</a>
    {% else %}
        <a href='{% url "accounts:detail" article.author_id %}' class='article-footer__link'>投稿者のページ</a>
    {% endif %}
</div>


{% endblock %}
