{% extends 'layout.html' %}

{% block content %}

<div class='main-contents'>
    <div class='main-contents__box'>
        <h2 class='main-contents__box__head'>
            最新記事
        </h2>
        <div class='top-articles top-border'>
            {% for article in object_list %}
              <div class='top-article'>
                  <div class='top-article__box'>
                    <p>{{ article.title }}</p>
                  </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


