{% extends "layout.html" %}

{% block content %}
    <h2 class='main-contents__box__head'>{{ message }}</h2>

    {% if searchForm %}
        <div class='form-wrapper'>
            <div class='form-wrapper__box'>
                <form action='{% url "djappy:search_category" %}' method='get' class='article-form'>
                    {{ searchForm }}
                    <button type='submit' class='submit'>検索</button>
                    <a href='{% url "djappy:search_category" %}'>クリア</a>
                </form>
            </div>
        </div>
    {% endif %}

    {% if object_list %}
        <div class='top-articles top-border'>
            {% for article in object_list %}

                {% include 'picked_articles.html' %}

            {% endfor %}
        </div>
    {% else %}
        {% if comment %}
            <h2>{{ comment }}</h2>
        {% endif %}
    {% endif %}


{% endblock %}