
// *** user_detail *** //

.user-detail{
  padding: 10px;
  border-bottom: 1px solid lightgray;
  &__box{
    padding: 10px;
    &__text{
      font-size: 16px;
      color: $pencil;
    }
  }
}

.user-articles{
  &__box{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}

.no-article{
  padding: 10px;
  color: $pencil;
}

.user-detail{
  padding: 10px;
  &__box{
    padding: 10px;
    border-top: 1px solid lightgray;
    &__content{
      padding: 10px;
      border-bottom: 1px solid lightgray;
      &--head{
        font-weight: bold;
      }
      &--inner{
        color: $pencil;
        font-size: 16px;
        padding: 16px;
      }
    }
  }
}

.no-profile{
  color: $pencil;
  font-size: 16px;
}

// **** form **** //

.signup-form{
  padding: 20px;
  p{
    font-size: 14px;
    label{
      font-weight: bold;
    }
    span{
      display: block;
      padding-top: 10px;
    }
  }
  ul{
    font-size: 14px;
  }
}

// **** user_search **** //

.searched-user{
  padding: 10px;
  a{
    padding: 10px;
    font-weight: bold;
    display: block;
  }
}