
// *** プロジェクト共通設定 *** //

*{
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

a{
  text-decoration: none;
}


// *** Sass変数とmixin *** //

$midnight: #010808;
$pencil: #333;
$default_shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
$darksteel: rgb(30, 55, 75);


// *** layout.html関連 *** //

.header{
  height: 60px;
  width: 100%;
  background-color: $midnight;
  position: fixed;
  top: 0;
  left: 0;
  &__box{
    padding: 10px;
    &__left{
      float: left;
    }
    &__right{
      text-align: right;
      float: right;
    }
  }
}

.header-logo{
  line-height: 40px;
  font-size: 28px;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 2px;
  padding-left: 40px;
}

.header-logo:hover{
  color: steelblue;
}

// .header-username{
//   font-size: 12px;
//   line-height: 40px;
//   padding-right: 10px;
//   color: whitesmoke;
//   display: inline;
// }

.header-menu{
  line-height: 40px;
  color: whitesmoke;
  font-size: 24px;
  padding-right: 10px;
  cursor: pointer;
}

.header-close{
  line-height: 40px;
  color: whitesmoke;
  font-size: 24px;
  padding-right: 10px;
  display: none;
  cursor: pointer;
}

.header-links{
  display: none;
  font-size: 14px;
  background-color: $darksteel;
  margin-top: 10px;
  border: 1px solid lightgray;
}

.header-link{
  padding-right: 10px;
  color: whitesmoke;
  display: block;
  padding: 10px;
}

.header-link:hover, .header-menu:hover, .header-close:hover{
  color: steelblue;
}

.header-sp-menu{
  display: none;
  line-height: 40px;
  color: whitesmoke;
  font-size: 24px;
  padding-right: 10px;
  cursor: pointer;
}

.header-sp-menu:hover{
  color: steelblue;
}

.hidden-close-sp{
  margin: 0 auto;
  width: 45px;
  &__button{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }
  &__button{
    color: steelblue;
  }
}

.hidden-menu{
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: #888;
  overflow: scroll;
  &__box{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    &--center{
      width: 100%;
    }
  }
}

.container{
  padding: 100px 40px 40px 40px;
  min-height: calc(100% - 100px);
}

.footer{
  background-color: $midnight;
  height: 100px;
  &__box{
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    &__text{
      margin: 0 auto;
    }
  }
}

.footer-link{
  line-height: 40px;
  color: whitesmoke;
  font-size: 16px;
}

.footer-link:hover{
  color: steelblue;
}


// *** 枠組み *** //

.top-wrapper{
  padding: 0 40px;
  &__left{
    width: 30%;
    float: left;
    &__box{
      padding: 20px;
    }
  }
  &__right{
    width: 70%;
    float: right;
    &__box{
      padding: 20px;
    }
  }
}

.side-bar{
  box-shadow: $default_shadow;
  background-color: white;
  &__box{
    padding: 10px;
    &__smallhead{
      font-size: 12px;
      border-bottom: 1px solid lightgray;
      background-color: $darksteel;
      padding: 10px;
      color: whitesmoke;
    }
    &__head{
      border-bottom: 1px solid lightgray;
      background-color: $darksteel;
      padding: 10px;
      color: whitesmoke;
    }
    &__content{
      text-align: center;
      border-bottom: 1px solid lightgray;
      font-size: 14px;
    }
  }
}

.side-bar-link{
  padding: 10px;
  display: block;
  color: $pencil;
  cursor: pointer;
}

.side-bar-link:hover{
  background-color: steelblue;
  color: whitesmoke;
}

.serve-bar{
  margin-top: 20px;
}

.main-contents{
  box-shadow: $default_shadow;
  color: $pencil;
  &__box{
    padding: 10px;
    &__head{
      background-color: $darksteel;
      color: whitesmoke;
      padding: 10px 10px 10px 20px;
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.login-form{
  padding: 10px;
  p{
    padding: 10px;
  }
  button{
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px 30px;
    width: 30%;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    background-color: steelblue;
    -webkit-appearance: none;
  }
}

.bottom-space{
  margin-bottom: 10px;
}


// **** レスポンシブデザイン関連 **** //

@media(max-width: 1000px){

  .container{
    padding: 100px 5px 40px 5px;
  }

  .top-wrapper{
    padding: 0;
    &__left{
      display: none;
    }
    &__right{
      width: 100%;
      float: none;
      &__box{
        padding: 5px;
      }
    }
  }

  .main-contents__box__head{
    font-size: 20px;
  }

}

@media(max-width: 700px){
  .header-sp-menu{
    display: inline;
  }

  .header-menu{
    display: none;
  }
}
