<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% sass_src 'css/application.scss' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script type="text/javascript" src="{% static 'js/djappy.js' %}"></script>
    <title>Djappy</title>
</head>

<body>

    <header class='header'>
        <div class='header__box clearfix'>
            <div class='header__box__left'>
                <a href='{% url "djappy:index" %}' class='header-logo'>Djappy</a>
            </div>
            <div class='header__box__right'>
                <a class='header-close'>×</a>
                <a class='header-menu'><i class='fa fa-bars'></i></a>
                <div class='header-links'>
                    {% if request.user.is_authenticated %}
                        <a href='{% url "djappy:create" %}' class='header-link'>新規投稿</a>
                        <a href='{% url "accounts:detail" request.user.pk %}' class='header-link'>マイページ</a>
                        {% if request.user.profile %}
                            <a href='{% url "accounts:update" request.user.profile.pk %}' class='header-link'>プロフィール編集</a>
                        {% else %}
                            <a href='{% url "accounts:create" %}' class='header-link'>プロフィール登録</a>
                        {% endif %}
                        <a href='{% url "logout" %}' class='header-link'>ログアウト</a>
                    {% else %}
                        <a href='{% url "accounts:signup" %}' class='header-link'>新規登録</a>
                        <a href='{% url "login" %}' class='header-link'>ログイン</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </header>

    <div class='container'>
        <div class='top-wrapper clearfix'>
            <div class='top-wrapper__left'>
                <div class='top-wrapper__left__box'>
                    <div class='side-bar'>
                        <ul class='side-bar__box'>
                            {% if request.user.is_authenticated %}
                                <h3 class='side-bar__box__smallhead'>
                                    ログイン中：{{ request.user }} さん
                              　</h3>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "djappy:create" %}' class='side-bar-link'>新規投稿</a>
                                </li>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "accounts:detail" request.user.pk %}' class='side-bar-link'>マイページ</a>
                                </li>
                                {% if request.user.profile %}
                                    <li class='side-bar__box__content'>
                                        <a href='{% url "accounts:update" request.user.profile.pk %}' class='side-bar-link'>プロフィール編集</a>
                                    </li>
                                {% else %}
                                    <li class='side-bar__box__content'>
                                        <a href='{% url "accounts:create" %}' class='side-bar-link'>プロフィール登録</a>
                                    </li>
                                {% endif %}
                                <li class='side-bar__box__content'>
                                    <a href='{% url "logout" %}' class='side-bar-link'>ログアウト</a>
                                </li>
                            {% else %}
                                <h3 class='side-bar__box__head'>
                                    djappyを利用する
                              　</h3>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "accounts:signup" %}' class='side-bar-link'>新規登録</a>
                                </li>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "login" %}' class='side-bar-link'>ログイン</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class='side-bar serve-bar'>
                        <ul class='side-bar__box'>
                            <div class='side-bar__box__head'>
                                <h3 class='side-head'>記事の検索</p>
                            </div>
                            <li class='side-bar__box__content'>
                                <a href='{% url "djappy:search_title" %}' class='side-bar-link'>タイトルで検索</a>
                            </li>
                            <li class='side-bar__box__content' >
                                <a href='{% url "djappy:search_category" %}' class='side-bar-link'>カテゴリで検索</a>
                            </li>
                        </ul>
                    </div>
                    <div class='side-bar serve-bar'>
                        <ul class='side-bar__box'>
                            <div class='side-bar__box__head'>
                                <h3 class='side-head'>ユーザーの検索</p>
                            </div>
                            <li class='side-bar__box__content'>
                                <a href='{% url "accounts:search" %}' class='side-bar-link'>ユーザー名で検索</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='top-wrapper__right'>
                <div class='top-wrapper__right__box'>
                    <div class='main-contents'>
                        <div class='main-contents__box'>
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class='footer'>
        <div class='footer__box'>
            <div class='footer__box__text'>
                <a href='#' class='footer-link'>©︎ Hirotsugu Yamazaki</a>
            </div>
        </div>
    </footer>

</body>