<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <link rel="stylesheet" href="{% sass_src 'css/application.scss' %}">
    <title>Djappy</title>
</head>

<body>

    <header class='header'>
        <div class='header__box clearfix'>
            <div class='header__box__left'>
                <a href='{% url "djappy:index" %}' class='header-logo'>Djappy</a>
            </div>
            <div class='header__box__right'>
                <a class='header-link' href='#'>menu</a>
            </div>
        </div>
    </header>

    <div class='container'>
        <div class='top-wrapper clearfix'>
            <div class='top-wrapper__left'>
                <div class='top-wrapper__left__box'>
                    <div class='side-bar'>
                        <ul class='side-bar__box'>
                            {% if user.is_authenticated %}
                                <h3 class='side-bar__box__smallhead'>
                                    {{ user }} さん
                              　</h3>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "djappy:create" %}' class='side-bar-link'>新規投稿</a>
                                </li>
                                <li class='side-bar__box__content'>
                                    <a href='#' class='side-bar-link'>マイページ</a>
                                </li>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "login" %}' class='side-bar-link'>ログアウト</a>
                                </li>
                            {% else %}
                                <h3 class='side-bar__box__head'>
                                    djappyを利用する
                              　</h3>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "accounts:signup" %}' class='side-bar-link'>新規登録</a>
                                </li>
                                <li class='side-bar__box__content'>
                                    <a href='{% url "login" %}' class='side-bar-link'>ログイン</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class='side-bar serve-bar'>
                        <ul class='side-bar__box'>
                            <div class='side-bar__box__head'>
                                <h3 class='side-head'>記事の検索</p>
                            </div>
                            <li class='side-bar__box__content'>
                                <a href='#' class='side-bar-link'>タイトルで検索</a>
                            </li>
                            <li class='side-bar__box__content'>
                                <a href='#' class='side-bar-link'>ユーザーで検索</a>
                            </li>
                            <li class='side-bar__box__content' >
                                <a href='#' class='side-bar-link'>カテゴリで検索</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='top-wrapper__right'>
                <div class='top-wrapper__right__box'>
                    <div class='main-contents'>
                        <div class='main-contents__box'>
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class='footer'>
        <div class='footer__box'>
            <div class='footer__box__text'>
                <a href='#' class='footer-link'>©︎ Hirotsugu Yamazaki</a>
            </div>
        </div>
    </footer>

</body>